@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');

.font-light {
    font-weight: 300;
}

.font-semi-light {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semi-bold {
    font-weight: 600;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 800;
}


@for $i from 1 through 100 {
    $size: $i * .1rem;

    @if $i < 10 {
        .font-0#{$i} {
            font-size: $size;
        }
    }
    @else {
        .font-#{$i} {
            font-size: $size;
        }
    }
}
