html,
body {
    height: 100%;
    margin: 0;
    font-size: 10px;
    line-height: 1.22; // 1.22 - it's the 'origin'

    font-family: Roboto, Tahoma, Arial;
}

body {
    font-size: 1.3rem;
    color: #000000;
}

* {
    outline: none;
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
    user-select: none;
}
