.layout-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.shrinkable {
        flex: 1;
        overflow-y: hidden;
    }
}

app-root {
    &:not(.direction-rtl) {
        .layout-row {
            @for $i from 1 through 100 {
                $gap-size: $i * .1rem;

                @if $i < 10 {
                    &.content-gap0#{$i} {
                        > * + *:not(.ignore-gap) {
                            margin-left: $gap-size;
                        }
                    }
                }
                @else {
                    &.content-gap#{$i} {
                        > * + *:not(.ignore-gap) {
                            margin-left: $gap-size;
                        }
                    }
                }
            }
        }
    }
    &.direction-rtl {
        .layout-row {
            @for $i from 1 through 100 {
                $gap-size: $i * .1rem;

                @if $i < 10 {
                    &.content-gap0#{$i} {
                        > * + *:not(.ignore-gap) {
                            margin-right: $gap-size;
                        }
                    }
                }
                @else {
                    &.content-gap#{$i} {
                        > * + *:not(.ignore-gap) {
                            margin-right: $gap-size;
                        }
                    }
                }
            }
        }
    }
}

.layout-column {
    display: flex;
    flex-direction: column;

    &.shrinkable {
        flex: 1;
        min-width: 0;
    }

    @for $i from 1 through 100 {
        $gap-size: $i * .1rem;

        @if $i < 10 {
            &.content-gap0#{$i} {
                > * + *:not(.ignore-gap) {
                    margin-top: $gap-size;
                }
            }
        }
        @else {
            &.content-gap#{$i} {
                > * + *:not(.ignore-gap) {
                    margin-top: $gap-size;
                }
            }
        }
    }
}

.layout-column,
.layout-row {
    &.just-space-between {
        justify-content: space-between;
    }

    &.just-start {
        justify-content: flex-start;
    }

    &.just-center {
        justify-content: center;
    }

    &.just-end {
        justify-content: flex-end;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.align-stretch {
        align-items: stretch;
    }

    &.align-base {
        align-items: baseline;
    }
}

router-outlet {
    padding: 0;
    margin: 0;
}


@for $i from 1 through 100 {
    $size: $i * 1%;

    @if $i < 10 {
        .width-0#{$i} {
            width: $size;
        }
        .height-0#{$i} {
            height: $size;
        }
    }
    //@else {
        .width-#{$i} {
            width: $size;
        }
        .height-#{$i} {
            height: $size;
        }
    //}
}

.full-size {
    height: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.third-width {
    width: 33%;
}

.semi-width {
    width: 50%;
}

.full-height {
    height: 100%;
}

.third-height {
    height: 33%;
}

.height-25,
.quarter-height {
    height: 25%;
}


/* ******** z axis layers


*/
