layers-menu-ipc {
    position: relative;

    .menu-toggler {
        background: #ffffff;
        padding: .5rem;

        &:hover {
            i {
                color: #4488ff;
            }
        }
    }

    .menu-title {
        padding: 1rem 2rem;
    }

    .menu-container {
        background: #ffffff;
        position: absolute;
        top: 0;
        right: 0;

        height: 30rem;
        width: 30rem;

        box-shadow: .5rem .5rem .5rem rgba(#000000, .5);


        .menu-item {
            padding: 1rem 1.5rem;

            &:hover {
                background: #eeeeee;
            }

            + .menu-item {
                border-top: 1px solid #cccccc;
            }
        }
    }
}
