<div class="layout-row menu-toggler clickable just-start content-gap10 font-16"
     (click)="toggle();"
>
    <div class="layout-column just-center">
        <i class="fa fa-list-ul fa-flip-horizontal"></i>
    </div>
    <div class="layout-column">
        {{translations.informationLayers}}
    </div>
</div>

<div class="layout-row menu-container"
     *ngIf="isExpanded"
>
    <div class="layout-column full-width">
        <div class="layout-row font-20 menu-title"
        >
            <div class="layout-column">
                {{translations.informationLayers}}
            </div>
            <div class="layout-column clickable"
                 (click)="toggle();"
            >
                x
            </div>
        </div>
        <div class="layout-row shrinkable">
            <perfect-scrollbar>
                <div class="layout-column full-width">
                    <custom-checkbox-ipc class="menu-item"
                                         *ngFor="let layer of layers"
                                         [(ngModel)]="layer.active"
                                         (ngModelChange)="updateLayers()"
                    >
                        <div class="font-15">
                            {{layer.title}}
                        </div>
                    </custom-checkbox-ipc>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>

