<div class="layout-row full-height">
    <div class="layout-column full-width">
        <div id="map" class="layout-row full-height"></div>
        <div class="menu-wrapper"
             *ngIf="!!govmap"
        >
            <layers-menu-ipc
                (onUpdate$)="updateLayers($event)"
            ></layers-menu-ipc>
        </div>
    </div>
    <div class="layout-column full-width font-16"
         *ngIf="!govmap"
    >
        {{translations.serviceIsNotAvailable}}
    </div>
</div>

