
custom-checkbox-ipc {


    .checkbox-wrapper {
        .checkbox-container {
            position: relative;
            width: 1.8rem;

            input[type=checkbox] {
                visibility: hidden;
                position: absolute;

                + label {
                    position: relative;
                    z-index: 1;

                    width: 1.8rem;
                    min-width: 1.8rem;
                    font-size: 2.4rem;

                    height: 1.8rem;
                    min-height: 1.8rem;
                    border-radius: .3rem;
                    cursor: pointer;
                    user-select: none;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        visibility: visible;
                    }

                    &:after {
                        border-radius: .3rem;
                    }

                    &:before {
                        left: 19%;
                        top: 28%;
                        right: 20%;
                        bottom: 32%;
                        transform: rotate(-45deg) translate(10%, -10%);
                        z-index: 2;
                    }

                    span {
                        margin-left: 2.6rem;
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                border-radius: 50%;
                box-shadow: 0 0 0 0 transparent;
                transition: box-shadow .3s;
            }

            &:active {
                &:hover {
                    &:after {
                        box-shadow: 0 0 0 .9rem rgba(#aaaaaa, .5);
                    }
                }
            }
            &:not(:active) {
                &:hover {
                    &:after {
                        box-shadow: 0 0 0 .9rem rgba(#cccccc, .5);
                    }
                }
            }
        }
    }

    &:not(.negated) {
        .checkbox-wrapper {
            .checkbox-container {

                input[type=checkbox] {
                    &:not(:disabled) {
                        + label {
                            &::after {
                                border: 2px solid #888888;
                                background: #ffffff;
                            }
                        }

                        &:checked {
                            + label {
                                &::before {
                                    border-left: 2px solid #333333;
                                    border-bottom: 2px solid #333333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .label-wrapper {
        label {
            cursor: pointer;
        }
    }
}
