<div class="layout-column unselectable just-center checkbox-wrapper">
    <div class="layout-row checkbox-container">
        <input type="checkbox"
               [(ngModel)]="value"
               [id]="'checkbox-pts-' + uid"
               [checked]="checked"
               [disabled]="disabled"
               (change)="changed($event)"
        />
        <label [for]="!this.displayOnly && ('checkbox-pts-' + uid)"></label>
    </div>
</div>

<div class="layout-column label-wrapper unselectable just-center shrinkable">
    <label [for]="!this.displayOnly && ('checkbox-pts-' + uid)"
           #labelContent
    >
        <ng-content select="*"></ng-content>
    </label>
</div>
